psycopg2-binary
sqlalchemy
pandas
numpy
torch
scikit-learn
tqdm
einops
transformers
mlflow
pacmap
pyarrow  # For Parquet file support
fastparquet  # Alternative Parquet file support
scikit-learn>=1.0.0
